RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www.zcash.blackfriday
RewriteRule ^(.*)$ https://zcash.blackfriday/$1 [R=301,NC,L]
